{% extends 'base.html.twig' %}

{% block title %} panier{% endblock %}

{% block body %}
<div class="container  mt-3">
    <table class="table">
        <thead>
            <tr>
                <th class="fs-4 text-warning">Votre Panier</th>
                <th class="fs-4 text-warning">Prix</th>
                <th class="fs-4">Quantité</th>
            </tr>
        </thead>
        <tbody>
            {% for row in cartLessons %}
        <tr>
            <td  class="fs-5">{{ row.lesson.name }}  <span  class="text-light fs-6">{{ row.lesson.title }}</span></td>
            <td class="fs-4">{{ row.lesson.price }} €</td>
            <td class=" fs-4">
                <a href="{{ path('cart_less', {'lesson':row.lesson.id}) }}"><i class="bi bi-file-minus-fill fs-4 mx-2 text-danger"></i></a>
                {{ row.qty }}
                <a href="{{ path('cart_add', {'lesson':row.lesson.id}) }}"><i class="bi bi-plus-square-fill fs-4 mx-2 text-warning"></i></a>
                <a href="{{ path('cart_del', {'lesson':row.lesson.id}) }}"><i class="bi bi-trash fs-4 mx-2 text-danger"></i></a></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="2"> Aucun article ajouté </td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th class="fs-4 text-warning mx-2">Numero Reservation</th>
                <th class="fs-4">Nom </th>
                <th class="fs-4">RDV</th>
                <th class="fs-4">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.title  }}</td>
                <td>{{ booking.start ? booking.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary m-2"href="{{ path('app_booking_show', {'id': booking.id}) }}">Détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de reservation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="fs-5 text-success rounded border border-success border-4 p-1 mx-2"style="float:right;text-decoration:none;"
        href="#" style="text-decoration:none;"> Valider Panier </a>
    <p class="fs-4 border border-4 rounded px-2 text-warning"style="float:right"> Total : 
    <span class="text-white fs-4"> {{ total}} € </span></p>
</div>
{% endblock %}