{% extends 'base.html.twig' %}
{% block title %} test{% endblock %}
{% block body %}
<div class="container text-secondary">
<h1 class=""> formulaire symfony</h1>
    {# Methode 1 #}
    {# <form action="" method="post">
        <div class="input-group  mt-1">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
            </div>
            <input name="title" type="text" class="form-control" placeholder="Entrez votre prénom" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mt-2">
            <div class="input-group-prepend ">
                <span class="input-group-text" id="basic-addon1">Start</span>
            </div>
            <input name="start" type="datetime-local" class="form-control" >
        </div>
        <button class="btn btn-success mt-1" type="submit">Envoyer</button>
    </form> #}

    {# Methode 2 #}
    {{ form_start(formTest) }}
        {{ form_row(formTest.title, {'attr':{'placeholder':"prénom"}}) }}
        {{ form_row(formTest.start) }}
        {# <button class="btn btn-success mt-2 mb-2">{{ button_label|default('Enregister') }}</button>  #}
    {{ form_end(formTest) }}

</div>
{% endblock %}