{% extends 'base.html.twig' %}
{% block title %}Liste Facture{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary m-2 pb-1"style="border-radius:10px;min-height:180px">
    <h1 class="scroll">Mes Factures <span class="fs-4 text-light">numériques</span></h1>
    <table class="table table-hover table-dark table-bordered border-light border border-2 mt-2">
    {% if app.user %}
        <thead>
            <tr>
            <th scope="col" class="text-center text-white"><span class="scroll">Facture</span></th>
            <th scope="col" class="text-center text-white"><span class="scroll">Client</span></th>
            <th scope="col" class="text-center text-white"><span class="scroll">total</span></th>
            <th scope="col" class="text-center text-white"><span class="scroll">action</span></th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                    {% if app.user.lastname == invoice.lastname and app.user.firstname == invoice.firstname %}
                        <tr class="table-active">
                            <td class="text-center"><span class="scroll">{{ invoice.id }}</span></td>
                            <td><span class="scroll">{{ invoice.lastname }} {{ invoice.firstname }} </span> <span class="scroll text-light"> {{ invoice.phone }}</span></span></td>
                            <td><span class="scroll">{{ invoice.totalPrice}} € </span></td>
                            <td class=" text-center">
                                <a class="scroll btn btn-light " href="{{ path('app_invoice_show', {'id': invoice.id}) }}" role="button">Voir</a>
                            </td>
                        </tr>
                        {% elseif is_granted('ROLE_ADMIN')%}
                            <tr class="table-active">
                                <td class=" text-center"><span class="scroll">{{ invoice.id }}</span></td>
                                <td><span class="scroll">{{ invoice.lastname }} {{ invoice.firstname }} </span><span class="scroll text-light"> {{ invoice.phone }}</span></span></td>
                                <td><span class="scroll">{{ invoice.totalPrice}}€ </span></td>
                                <td class="text-center">
                                    <a class="scroll btn btn-light " href="{{ path('app_invoice_show', {'id': invoice.id}) }}" role="button">Voir</a>
                                </td>
                            </tr>
                        {% endif %}
                {% else %}
                <tr>
                    <td class="scroll"colspan="5">Aucune facture enregistrée</td>
                </tr>
            {% endfor %}</tbody></table>
            {% else %}
                <tr >
                    <p class="mx-1"colspan="6">Pour voir vos factures en ligne, 
                    <a href="{{ path('app_login') }}">Connectez-vous </a> ou
                    <a href="{{ path('app_register') }}">Inscrivez-vous</a> avec votre 
                    <span class="text-light fs-5"> Nom </span> et 
                    <span class="text-light fs-5"> Prénom </span>inscrits sur la
                    <span class="text-light fs-5"> Facture</span> qui vous a été envoyée par 
                    <span class="text-light fs-5"> Mail</span>.</p><br>
                </tr>
            {% endif %}
        
    </div>
</div><br>


{% endblock %}
