{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
{% if app.user %}
    <table class="table table-hover table-dark table-bordered border-light border border-2 mt-2">
        <thead>
            <tr>
            <th scope="col" class="text-center text-white">id</th>
            <th scope="col" class="text-center text-white">Client</th>
            <th scope="col" class="text-center text-white">total</th>
            <th scope="col" class="text-center text-white">action</th>
            </tr>
        </thead>
        <tbody>
        
            {% for invoice in invoices %}
                    {% if app.user.lastname == invoice.lastname and app.user.firstname == invoice.firstname %}
                        <tr class="table-active">
                            <td class="text-center">{{ invoice.id }}</td>
                            <td>{{ invoice.lastname }} {{ invoice.firstname }} <span class="text-light">{{ invoice.phone }}</span></span></td>
                            <td>{{ invoice.totalPrice}} € </td>
                            <td class="text-center">
                                <a class="btn btn-light mb-1" href="{{ path('app_invoice_show', {'id': invoice.id}) }}" role="button">Voir</a>
                            </td>
                        </tr>
                        {% elseif is_granted('ROLE_ADMIN')%}
                            <tr class="table-active">
                                <td class="text-center">{{ invoice.id }}</td>
                                <td>{{ invoice.lastname }} {{ invoice.firstname }} <span class="text-light">{{ invoice.phone }}</span></span></td>
                                <td>{{ invoice.totalPrice}} € </td>
                                <td class="text-center">
                                    <a class="btn btn-light mb-1" href="{{ path('app_invoice_show', {'id': invoice.id}) }}" role="button">Voir</a>
                                </td>
                            </tr>
                        {% endif %}
                {% else %}
                <tr>
                    <td colspan="5">Aucune facture enregistré</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
{% else %}
    <p class="text-dark"> Aucune facture enregistré </p>
{% endif %}
</div>


{% endblock %}
