{% extends 'base.html.twig' %}
{% block title %}Reservation{% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary m-2 pb-1"style="border-radius:10px;min-height:180px">
        <h1 class="scroll">Mes Rendez-vous</h1>
        {% if app.user %}
            <table class="table">
                <thead>
                    <tr class="scroll ">
                        <th>Pseudo</th>
                        <th>Date RDV</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th>Nom Prénom</th>
                        {% endif %}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                        {% if booking.firstname == app.user.firstname and booking.lastname  == app.user.lastname and not is_granted('ROLE_ADMIN') %}
                            <tr class="scroll ">
                                <td>{{ booking.title  }}</td>
                                <td>{{ booking.start ? booking.start|date('Y-m-d H:i:s') : '' }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>{{ booking.firstname }} {{ booking.lastname }}</td>
                                {% endif %}                    
                                <td class="d-flex">
                                    <a class="btn btn-primary mx-2 d-inline" href="{{ path('app_booking_show', {'id': booking.id}) }}">Détail</a>
                                        {{ include('booking/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% elseif is_granted('ROLE_ADMIN')%}
                            <tr class="scroll ">
                                <td>{{ booking.title  }}</td>
                                <td>{{ booking.start ? booking.start|date('Y-m-d H:i:s') : '' }}</td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <td>{{ booking.firstname }} {{ booking.lastname }}</td>
                                {% endif %}                    
                                <td class="d-flex">
                                    <a class="btn btn-primary mx-2 d-inline" href="{{ path('app_booking_show', {'id': booking.id}) }}">Détail</a>
                                    {{ include('booking/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                            <tr>
                                <td colspan="6">Pas de reservation</td>
                            </tr>
                    {% endfor %}
                {% else %}
                    <tr >
                        <p class="mx-1"colspan="6">Pour voir vos Rdv, 
                        <a href="{{ path('app_login') }}">Connectez-vous </a> ou
                        <a href="{{ path('app_register') }}">Inscrivez-vous</a> avec votre 
                        <span class="text-light fs-5"> Nom </span> et 
                        <span class="text-light fs-5"> Prénom </span>inscrits sur la
                        <span class="text-light fs-5"> Facture</span> qui vous a été envoyée par 
                        <span class="text-light fs-5"> Mail</span>.</p><br>
                        </tr>
                {% endif %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="scroll btn btn-success mb-1" href="{{ path('app_booking_new') }}">Nouveau RDV</a>
        {% endif %}
        <a class="scroll btn btn-primary mx-1 mb-1" href="{{ path('app_calendar')}}">Calendrier</a>
    </div>
</div><br>
{% endblock %}