{% extends 'base.html.twig' %}
{% block title %} Succès {% endblock %}
{% block body %}
<div class="d-flex justify-content-center">
    <div class="container bg-secondary mb-2 m-2"style="border-radius:10px">
        <h1 class="scroll text-success"> Paiement validé avec succès</h1>
        <table class="table">
            <thead class="scroll">
                <tr>
                    <th class="fs-4 text-warning">Produit</th>
                    <th class="fs-4 ">Prix</th>
                    <th class="fs-4 text-success">Quantité</th>
                </tr>
            </thead>
            <tbody>
                {% for row in purchases %}
            <tr class="scroll">
                <td  class="fs-5">{{ row.lesson.name }}  <span  class="text-light fs-6">{{ row.lesson.title }}</span><br>
                <td class="fs-4">{{ row.unitPrice }}€</td>
                <td class=" fs-4">{{ row.quantity }} H</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <div>
            <p class="scroll fs-1 border border-4 rounded px-2"style="float:right"> Total : 
            <span class="text-warning fs-1 text-center"> {{ invoice.totalPrice }}€ </span></p>
            </div>
        </div>
        <div class="d-flex justify-content-center p-2">
            <div class="scroll border border-light border-4 rounded  px-2" style="width:62%">
                <h3 class="scroll text-center text-success"> Informations Commande</h3>
                <p class="scroll text-center">{{ invoice.lastname }} {{ invoice.firstname }}</p>
                <p class="scroll text-center">{{ invoice.phone }}</p>
                <p class="scroll text-center">{{ invoice.address }}</p>
                <p class="scroll text-center">{{ invoice.zipcode }} {{ invoice.city }}</p>
            </div>
        </div><br>
    </div>
</div>
{% endblock %}