<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block head %}{% endblock %}</title>
        <title>{% block title %}WA Formation{% endblock %}</title>
{# Bootstrap & css // templates/base.html.twig #}
<link href="{{ asset('bootstrap.min.css')}}" rel="stylesheet">
<link href="{{ asset('css/styles.css')}}" rel="stylesheet"> 
<link href="{{ asset('bootstrapIcons/bootstrap-icons.css')}}" rel="stylesheet"> 
</head>
    <body>

{# NavBar#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">WAFORMATION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_lesson_index') }}">Leçons & Tarifs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Agenda</a>
            </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="{{ path('app_admin') }}">Admin</a>
                </li>
                                </li>
                        <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            
            {% elseif app.user and not is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Compte</a>
                </li>
                        <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
{# PANIER #}
<div class="text-warning text-center mt-2" style="float:right;text-decoration:none;">
<a href="{{ path('cart_show') }}"style="text-decoration:none;">
<span class="fs-5 m-3  text-warning">Panier</span><br><i class="bi-cart mx-2 fs-2 text-warning "></i></a>
</div>
        {% block body %}{% endblock %}
        {# bootstrap & js #}
        <script src="{{ asset('bootstrap.bundle.min.js')}}" defer>
        </script><script src="{{ asset('js/index.js')}}" defer></script>
    </body>
</html>