<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}{% endblock %}
        <title>{% block title %}WA Formation{% endblock %}</title>
{# Bootstrap & css // templates/base.html.twig #}
<link href="{{ asset('bootstrap.min.css')}}" rel="stylesheet">
<link href="{{ asset('css/styles.css')}}" rel="stylesheet"> 
<link href="{{ asset('bootstrapIcons/bootstrap-icons.css')}}" rel="stylesheet"> 
</head>
    <body>

{# NavBar#}
<nav class="navbar py-0 navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">WAFORMATION</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_lesson_index') }}">Leçons & Tarifs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_calendar') }}">Calendrier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_booking_index') }}">Reservations</a>
            </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="{{ path('cart_show') }}">
                        <i class="bi-cart text-dark mx-1"> </i>Panier
                        
                    </a>
                </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="{{ path('app_admin') }}">Admin</a>
                </li>
                                </li>
                        <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            
            {% elseif app.user and not is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Compte</a>
                </li>
                        <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- FOOTER -->
<footer class="text-center  bg-dark fixed-bottom">
    <div class="text-center ">
        <a class="text-light text-decoration-none mx-2" href="#">Conditions générales de vente</a>
        <a class="text-light text-decoration-none mx-2" href="#">Partenariats</a>
        <a class="text-success text-decoration-none mx-2 bold" href="#">Contact</a>
    </div>
</footer>
<!-- cookies -->
<div class="text-light text-center bg-secondary fixed-bottom cookies opacity-75 m-2">
    <div class="text-center m-1">
        Accepter les Cookies
    <a class="text-warning bold dco " href="#">OK</a>
    </div>
</div>
        {% block body %}{% endblock %}
        {# bootstrap & js #}
        <script src="{{ asset('bootstrap.bundle.min.js')}}" defer>
        </script><script src="{{ asset('js/index.js')}}" defer></script>
    </body>
</html>